<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CentrobankClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CentrobankClient.Properties.Settings>
            <setting name="CentrobankClient_ru_cbr_www_DailyInfo" serializeAs="String">
                <value>http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx</value>
            </setting>
        </CentrobankClient.Properties.Settings>
    </applicationSettings>
</configuration>